.counter__items {
  width: 180px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  align-items: center;
  /* background-color: rgb(38, 36, 168); */
}

.counter__item {
  display: flex;
  flex: 1;
  /* width: 100px; */
  align-items: center;
  justify-content: space-evenly;
}
.count {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  background-color: rgb(14, 238, 14);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(14, 137, 238);
  border-style: none;
  height: 30px;
  width: 30px;
  border-radius: 10px;
  color: white;
  font-size: large;
}

.btn1 {
  background-color: rgb(236, 224, 47);
}
.btn2 {
  background-color: rgb(207, 191, 191);
  color: red;
  height: 25px;
  width: 30px;
  padding: 3px 2px;
}

.btn2:hover {
  color: white;
  background-color: red;
  transition: all 0.2s;
}
