.counterss {
  width: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  border-radius: 20px;
  box-shadow: 12px 12px 2px 1px rgb(109, 108, 108);
  border-style: none;
  border-color: #555555;
  background-color: #4d4d4d;
}

.App {
  background-color: #758283;
  height: 100vh;
}
.items {
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

.reset-btn {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  height: 40px;
  width: 80px;
  box-shadow: 10px;
  border: none;
  border-radius: 8px;
  margin: 5px;
  background-color: burlywood;
}

.reset-btn:hover {
  background-color: rgb(15, 214, 114);
  transition: all 0.5s;
  color: white;
}
